@font-face {
	font-family:'Saira Extra Condensed';
	src : url('../../../../fonts/Saira_Condensed/SairaCondensed-Regular.ttf');

}

.details{
    position: absolute;
    height:43%;
    width:20%;
    top:1%;
    right:5%;

    background-color:white;

    padding:2%;

    border-radius:1em;

    font-size:1vw;
    font-family: 'Saira Extra Condensed', sans-serif;
    letter-spacing: 1px;

}

.details h1{
    text-align:center;
    margin:0%;
    top:0%;
}

.details .computing {
    display:inline-flex;
    width:100%;
    text-align:center;
}
.computing select {
    position:relative;
    margin-left:1%;
    height:50%;
    margin-top:7.5%;
    cursor:pointer;
}

.details .shotList{
    position:relative;
    height:60%;

    overflow-y:auto;

    padding:1%;
}
.shotList .badge {
    width:30%;
    display: inline-block;
    font-size: small;
    color: white;
    padding: 0.8em 0.7em 0 0.7em;
    background-color:#405061;
    line-height: 1em;
    position: relative;
    height: 1.8em;
    margin-right: .8em;
    border-radius: 0.5em;
}
.score h4{
    margin:2%;
}
.details .totalScore{
    position:relative;

    border-style:solid;
    border-color:#405061;
    border-width:1%;

    text-align:center;
    padding: 5%;
    text-align: center;
    margin-top:3%;

    font-size:1.8em;
}
