<div class="details">
    <h1>Session details</h1>
    <div class="computing">
        <h4>Select computing mode:</h4>
        <select [(ngModel)]="computing" (change)="compute()">
            <option value="decimals" selected>Decimals</option>
            <option value="integers">Integers</option>
        </select>
    </div>
    <div class="shotList">
            <table>
                <tr *ngFor="let shot of impacts">
                    <td class="badge">{{shot.id}}: </td>
                    <td> <strong> X:</strong>{{shot.x | number : '1.1-1'}}</td>
                    <td><strong>Y:</strong>{{shot.y | number : '1.1-1'}}</td>
                    <td><strong>Score : </strong>{{shot.score | number : '1.1-1' }}</td>
                </tr>
            </table>
        </div> 
    <div class="score">
        <h4>Your total score :</h4>
        <div class="totalScore">
            {{score}}
        </div>
    </div>
</div>

